Notes/Sources.md
Server/server.log
Client/android/keystore.properties
Client/android/app/chatapp-release.jks
Client/android/app/release/*
Server/.env
Server/website/node_modules/*
Server/website/dist/*
Server/website/releases/*

# Large model file - removed to avoid git push error
Client/public/models/Xenova/Qwen1.5-0.5B-Chat/onnx/decoder_model_merged_quantized.onnx
Server/socket
Server/server.db
Server/relay
